/* BASE */
/* ---- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --color-white: #ffffff;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-muted: #6c757d;
  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-link: #007bff;
  --color-border: #ced4da;
  --color-primary: #134563;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  min-height: 100vh;
}

main {
  margin: auto;
  width: 80%;
  padding: 0 1rem;
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  main {
    max-width: 640px;
  }
}


/* BEM */
/* --- */

/* checkout-form*/
.checkout-form fieldset {
  border: 0;
  margin: 2rem 0 0 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .checkout-form fieldset {
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.checkout-form__legend {
  font-size: 1.5rem;
  grid-column: span 4;
  position: relative;
  top:-0.5rem;
}

.checkout-form__button {
  color: var(--color-white);
  font-size: 1.25rem;
  cursor: pointer;
  grid-column: span 4;
  width: 100%;
  padding: 0.75rem 1rem;;
  margin: 12px 0px;
  border: 0;
  border-radius: 0.3rem;
  background: var(--color-primary);
}

.checkout-form__message {
  text-align: center;
  margin: 1rem 0;
  grid-column: span 4;
}

.checkout-form__message--success {
  color: var(--color-success);
}

.checkout-form__message--error {
  color: var(--color-danger);
}

.checkout-form__firstname,
.checkout-form__lastname,
.checkout-form__username,
.checkout-form__phone,
.checkout-form__country,
.checkout-form__name-on-card,
.checkout-form__credit-card-number {
  grid-column: span 2
}

.checkout-form__email,
.checkout-form__address,
.checkout-form__address2,
.checkout-form__same-shipping,
.checkout-form__save-info {
  grid-column: span 4;
}

/* input */
.input__label,
.input__error-message {
  font-size: 0.9rem;
  display: block;
}

.input__label {
  color: var(--color-muted);
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .input__label {
    margin-top: 0;
  }
}

.input__phone input {
  display: none;
}

.input__phone input[name="phoneMobile"] {
  display: block;
}

@media only screen and (min-width: 768px) {
  .input__phone {
    display: grid;
    gap: 2rem;
    grid-template-columns: 24% 24% 1fr;
    position: relative;
  }

  .input__phone::before,
  .input__phone::after {
    color: var(--color-border);
    content: '—';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .input__phone::before {
    left: 5rem;
  }

  .input__phone::after {
    right: 6rem;
  }

  .input__phone input {
    display: block;
  }

  .input__phone input[name="phoneMobile"] {
    display: none;
  }
}

.input__error-message {
  color: var(--color-danger);
  opacity: 0;
  transition: opacity 300ms ease;
}

.input--required .input__label::before {
  content: "* ";
}

.input input {
  font-size: 1rem;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  border-radius: .25rem;
  border: 1px solid var(--color-border);
}

.input--select {
  position: relative;
}

.input--select::after {
  content: "╲╱";
  font-size: 0.5rem;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 3.5rem;
  right: 1rem;
  pointer-events: none;
  transform: scaleX(1.5);
}

@media only screen and (min-width: 768px) {
  .input--select::after {
    top: 2.6rem;
  }

  .drug-input--select::after {
    top: 4.6rem !important;
  }
}

.input--select select {
  cursor: pointer;
  width: 100%;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  appearance: none;
  background-image: none;
  background-color: transparent;
  border-radius: .25rem;
  border: 1px solid var(--color-border);
  box-shadow: 0 15px 30px -10px rgba(0,0,0,0.10);
}

.input--error .input__error-message {
  opacity: 1;
}

.input--error input,
.input--error select {
  border-color: var(--color-danger);
}
