table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;

  td,
  th {
    border-top: 1px solid #4ecdc4;
    padding: 10px;
  }

  td {
    border-left: 1px solid #4ecdc4;
    border-right: 1px solid #4ecdc4;
  }

  th {
    background-color: #0b3d5f;
  }

  tr:nth-of-type(even) td {
    background-color: lighten(#4ecdc4, 35%);
  }

  .total {
    th {
      background-color: #4ecdc4;
    }

    td {
      text-align: right;
      font-weight: 700;
    }
  }
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 760px) {
  p {
    display: block;
    font-weight: bold;
  }

  table {
    tr {
      td:not(:first-child),
      th:not(:first-child),
      td:not(.total-val) {
        display: none;
      }

      &:nth-of-type(even) td:first-child {
        background-color: lighten(#4ecdc4, 35%);
      }
      &:nth-of-type(odd) td:first-child {
        background-color: #4ecdc4;
      }

      &:nth-of-type(even) td:not(:first-child) {
        background-color: #4ecdc4;
      }

      th:first-child {
        width: 100%;
        display: block;
      }

      th:not(:first-child) {
        width: 40%;
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        position: relative;
        z-index: -1;
      }

      td:not(:first-child) {
        transition: transform 0.4s ease-out;
        transform: translateY(-9999px);
        width: 60%;
        position: relative;
        z-index: -1;
      }

      td:first-child {
        display: block;
        cursor: pointer;
      }

      &.total th {
        width: 25%;
        display: inline-block;
      }

      td.total-val {
        display: inline-block;
        transform: translateY(0);
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 300px) {
  table {
    tr {
      th:not(:first-child) {
        width: 50%;
        font-size: 14px;
      }

      td:not(:first-child) {
        width: 50%;
        font-size: 14px;
      }
    }
  }
}
